<!-- Top Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to "Bootcamp Bucks", static_pages_home_path %></li>
      <li><%= link_to "About Us", static_pages_about_us_path %></li>
      <li><%= link_to "FAQ", static_pages_faq_path %></li>
      <li><%= link_to "Contact Us", static_pages_contact_us_path %></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<!-- Footer Navigation -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Terms of Service", static_pages_terms_of_service_path %></li>
      <li><%= link_to "Privacy Policy", static_pages_privacy_policy_path %></li>
    </ul>
  </div>
</nav>
